$color-primary: #ff0000;
$color-dark: #020203;
$color-light: #fbfbfb;
$color-white: #ffffff;
$color-black: #000000;

// ⚠️ Some colors are set inline in components:
// components/DailyActivityBarChart.jsx
// components/AverageSessionLineChart.jsx

$graph-color-red: #e60000;
$graph-color-black: #282d30;
$graph-color-title: #20253a;
$graph-color-legend: #74798c;
$graph-color-axis-label: #9b9eac;
$graph-color-axis: #dedede;
$graph-color-radar: #ff0101b2;
