@use "../styles/variables" as vars;

.container {
  display: flex;
  flex-direction: column;
  padding: clamp(20px, -56.3077px + 7.4519vw, 51px)
    clamp(40px, -83.0769px + 12.0192vw, 90px)
    clamp(20px, -56.3077px + 7.4519vw, 51px)
    clamp(50px, -92.7692px + 13.9423vw, 108px);
  width: 100%;
  height: 100%;
}

.title {
  font-size: 48px;
  font-weight: 500;
  color: vars.$color-dark;
}

.firstname {
  color: vars.$color-primary;
}

.encouragement {
  font-size: 18px;
  font-weight: 400;
  color: vars.$color-dark;
  padding-top: 26px;
}

.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: clamp(40px, -53.5385px + 9.1346vw, 78px);
  max-height: 615px;
  gap: 25px;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  gap: 20px;
}

.rightColumn {
  width: 23%;
  height: 100%;
}

.leftColumn__top {
  height: 53%;
  box-shadow: 0px 2px 4px 0px #00000005;
  border-radius: 5px;
  overflow: hidden;
}

.leftColumn__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  flex: 1;
}

.leftColumn__bottom__element {
  width: 100%;
  height: auto;
  background-color: hotpink; // TODO REMOVE
  box-shadow: 0px 2px 4px 0px #00000005;
  border-radius: 5px;
  overflow: hidden;
}

.rightColumn__center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.rightColumn__center__element {
  background-color: hotpink; // TODO REMOVE
  box-shadow: 0px 2px 4px 0px #00000005;
  border-radius: 5px;
  height: 20%;
  overflow: hidden;
}
