@use "../../styles/variables.scss" as vars;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: clamp(81px, 56.3846px + 2.4038vw, 91px);
  width: 100%;

  background-color: vars.$color-dark;
}

.logo {
  padding-left: 28px;
  height: 61px;

  img {
    height: 100%;
    width: auto;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-right: 80px;
  gap: clamp(6.25rem, -10.6731rem + 26.4423vw, 13.125rem);
}

.link {
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  color: vars.$color-white;
  background: none;
  border: none;
  outline: none;
}
