.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  min-width: 1024px;
  max-width: 1440px;
  min-height: 780px;
  margin: 0 auto;

  height: clamp(48.75rem, 11.2115rem + 58.6538vw, 64rem);
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.content {
  display: flex;
  flex: 1;
}
